Repository newbornfrontender/lit-full-feature-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "**/*.{json,md}": ["prettier --write", "git add"],
  "**/*.{html,css}": ["stylelint --fix", "git add"],
  "**/*.{html,js}": ["eslint --fix", "git add"]
}

feat: set up stylelint
  .stylelintrc.json
Due: prettier --write

feat: set up husky
  .huskyrc.json
Due: prettier --write

feat: set up eslint
  .eslintrc.js
Due: eslint --fix

chore: rename file
  .stylelintrc.json
  stylelint.config.js
Due: prettier --write, eslint --fix

feat: add an exceptions
  .gitignore
Due: none

chore: remove unused deps
  .commitlintrc.json
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  prettier.config.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove prettier plugin
  .eslintrc.json
Due: prettier --write

style: format code
  README.md
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

style: format code
  renovate.json
Due: prettier --write

feat: set up postcss
  postcss.config.js
Due: eslint --fix

feat: add targets
  browserslist
Due: none

feat: add eslint
  package.json
  yarn.lock
Due: prettier --write

feat: set up babel
  babel.config.js
Due: eslint --fix

chore: replace deps
  package.json
Due: prettier --write

chore: add line break
  postcss.config.js
Due: eslint --fix

chore: remove unused filed
  .eslintrc.js
  stylelint.config.js
Due: eslint --fix

feat: create babel plugin for rollup
  plugins/babel.js
Due: eslint --fix

feat: set up rollup
  rollup.config.js
Due: eslint --fix

chore: add new deps
  package.json
  yarn.lock
Due: prettier --write

chore: change autoprefixer conf
  postcss.config.js
Due: eslint --fix

feat: add an exceptions
  .eslintignore
Due: none

feat: add settings
  .gitattributes
Due: none

feat: set up postcss plugin for rollup
  plugins/postcss.js
Due: eslint --fix

chore: replace crlf to lf
  rollup.config.js
Due: eslint --fix

chore: add start script
  package.json
Due: prettier --write

chore: add test files
  public/index.html
  src/index.css
  src/index.js
Due: stylelint --fix, eslint --fix

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency phtml to v2.0.2
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update babel monorepo to v7.3.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to v1.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @open-wc/eslint-config to v0.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to v1.6.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v5.15.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.1.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency postcss-preset-env to v6.6.0
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency @open-wc/prettier-config to v0.1.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @open-wc/eslint-config to v0.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency phtml to v2.0.4
  package.json
  yarn.lock
Due: prettier --write
